# 문제1
- 다음의 리스트에서 최대값이 위치한 인덱스를 반환하는 함수와
최소값이 위치한 인덱스를 반환하는 함수를 작성하세요.

```python
data = [80,70,60,99,87,86]

def argmax(lst):
    code context

def argmin(lst):
    code context
```

# 문제2
- 정수 혹은 튜플을 입력받아 0으로만 채워진 행렬 형태의 리스트를 반환하는 함수를 작성하시오.

```python
ex)
zeros(3) -> [0,0,0]
zeros((2,3)) ->  [[0,0,0], [0,0,0]]

[
    [0,0,0],
    [0,0,0]
]
```

# 문제3
- 행 혹은 행렬 형태의 리스트를 입력 받아 행의 크기와 열의 크기를 튜플로 반환하는 함수를 작성하시오

```python
ex)
shape([]) -> (0,)
shape([1,2,3]) -> (3,)
shape([[1,2,3],[4,5,6]]) -> (2,3)

[
    [1,2,3],
    [4,5,6]
]
```

# 문제4
- 행렬 형태의 리스트를 입력 받고 변경하고자 하는 행의 크기와 열의 크기로 변환해서 리스트로 반환 함수를 작성하시오
- 행과 열의 크기는 튜플로 받는다 .
- 무조건 튜플 아니면 -1 입력이 들어온다고 가정한다.
- 튜플은 무조건 2개의 요소가 포함되서 들어온다고 가정한다.
- 튜플이 아닌 -1 이 들어올경우 1차원 형태로 flatten 시킨다.

```python
ex)
data = [
       [1,2,3],
       [4,5,6]
]
reshape(data,-1) -> [1,2,3,4,5,6]
reshape(data,(3,2)) -> [[1,2],[3,4],[5,6]]

[
    [1,2],
    [3,4],
    [5,6]
]
```